header, section, nav, article, aside, footer {
    border: 1px solid black;
    padding: 15px;
}

nav, article {
    border: 0;
}

article {
    padding: 10px 30px;
}

html, body, .main-container {
    height: 100%;
}

.row-content {
    height: 70%;
}

.nav-link {
    margin-bottom: 5px;
    margin-top: 5px;
}