<aside class="col-12 col-sm-5 col-md-4 col-lg-3">
    <div class="nav flex-column nav-pills text-center" role="tablist" aria-orientation="vertical">
        <a class="nav-link btn-primary" href="/partials/section/welcome.html">Welcome</a>
        <div class="nav flex-column nav-pills text-center ml-25"  role="tablist" aria-orientation="vertical">
            <a class="nav-link btn-primary" href="/partials/section/welcome.1.html">Welcome 1</a>
            <a class="nav-link btn-primary" href="/partials/section/welcome.2.html">Welcome 2</a>
        </div>
    </div>
</aside> 
