<header class="col-12">
    <blockquote class="blockquote text-center">
            <p class="mb-0">KnockoutJS is awesome!</p>
            <p class="blockquote-footer">I have hope about that :)</p>
    </blockquote>
</header>
