<section class="col-12 col-sm-7 col-md-8 col-lg-9">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a href="/partials/section/welcome.html">Welcome</a></li>
          <li class="breadcrumb-item"><a href="/partials/section/welcome.1.html">Welcome_1</a></li>
          <li class="breadcrumb-item"><a href="/partials/section/welcome.2.html">Welcome_2</a></li>
        </ol>
    </nav>
    <article>
        Test 1
    </article>
</section>